<component name="ProjectDictionaryState">
  <dictionary name="SpringMimic">
    <words>
      <w>Immersao</w>
      <w>Patchin</w>
      <w>iimmersao</w>
      <w>jdoe</w>
      <w>keynum</w>
      <w>noannotation</w>
      <w>respbodyjson</w>
      <w>respbodynoannotation</w>
      <w>respbodyplaintext</w>
      <w>restclient</w>
      <w>restjson</w>
      <w>restnoannotation</w>
      <w>restplaintext</w>
      <w>sakila</w>
      <w>springmimic</w>
      <w>testcomponents</w>
      <w>testdb</w>
    </words>
  </dictionary>
</component>